<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Express</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css" integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/toastify.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <a class="navbar-brand" href="/">Pizza Express</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/<% if (user && user.role == 'admin') { %>admin<% } else { %>customers<% } %>/orders">Orders</a>
                        </li>
                        <li class="nav-item badge-pill bg-primary ml-2">
                            <a class="nav-link" href="/cart"><b id="cartCount" class="text-light mr-2"><% if (session.cart && user) { %>
                                <%= session.cart.totalQuantity %>
                            <% } else { %>0<% } %></b><i class="fas fa-shopping-cart text-light"></i></a>
                        </li>
                    <% if (user) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= user.name %> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form action="/logout" method="POST">
                                    <button class="nav-link btn" type="submit">Logout</button>
                                </form>
                            </div>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <% } %> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <%- body %> 

    <!-- scripts -->
    <script src="/js/jQuery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/toastify.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script>
        <% if (messages.toast) { %>
            successToast('<%= messages.toast %>');
        <% } else if(messages.errorToast) { %>
            errorToast('<%= messages.toast %>');
        <% } %>

        async function updateStatus(form) {
            const res = await $.post('/admin/orders/status', $(form).serialize(), (data) => {
                if (!data)
                    return dangerToast(`Something went wrong`);
                successToast(`Order status changed`);
            });
        }
    </script>
        
</body>

</html>